In [3]:
import mysql.connector as sql
import pandas as pd
import numpy as np

In [4]:
db_connection = sql.connect(host='140.116.96.116', database='data',user='root', password='ilin61205')

InterfaceError: 2003: Can't connect to MySQL server on '140.116.96.116:3306' (60 Operation timed out)

In [77]:
df=pd.read_sql('SELECT * FROM ACC LIMIT 1000', con=db_connection)

In [12]:
#ACC1:交寄局號
#ACC10:責任局號
#ACC30:寄達郵遞區號
#ACC33:本頁重量(公斤)(該頁碼總重量)

In [13]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [14]:
df.columns

Index(['ACC1', 'ACC2', 'ACC3', 'ACC4', 'ACC5', 'ACC6', 'ACC7', 'ACC8', 'ACC9',
       'ACC10', 'ACC11', 'ACC12', 'ACC13', 'ACC14', 'ACC15', 'ACC16', 'ACC17',
       'ACC18', 'ACC19', 'ACC20', 'ACC21', 'ACC22', 'ACC23', 'ACC24', 'ACC25',
       'ACC26', 'ACC27', 'ACC28', 'ACC29', 'ACC30', 'ACC31', 'ACC32', 'ACC33',
       'ACC34', 'ACC35', 'ACC36', 'ACC37', 'ACC38'],
      dtype='object')

In [79]:
df=pd.read_sql('SELECT ACC1,ACC30, ACC33 FROM ACC LIMIT 1000', con=db_connection)

In [80]:
df

       ACC1  ACC30    ACC33
0    220603  11466   3690.0
1    880008          1324.0
2    880008          1324.0
3    880008          1324.0
4    880008          1324.0
5    100257  10012   3189.0
6    100257          2000.0
7    100257          2000.0
8    100257    112   5294.0
9    260015    106    500.0
10   260015    260     10.0
11   260015           344.0
12   260015           344.0
13   260015           344.0
14   260015           344.0
15   260015    260     18.0
16   100254    407  19500.0
17   830043           159.0
18   100254    900   4107.0
19   100254    105   4914.0
20   100254         60000.0
21   100254         45000.0
22   100254         20000.0
23   730011    222    182.0
24   950003  95044     40.0
25   950003  95044     30.0
26   320031  32071    868.0
27   600044    824    758.0
28   100254    302   5000.0
29   100254    406   5000.0
..      ...    ...      ...
970  704038    802     15.0
971  900022    406     20.0
972  320450  10582  11980.0
973  330033    330     20.0
974  220069  71757     41.0
975  400010    408     12.0
976  100137    242     41.0
977  100046    403     20.0
978  100009    106    508.0
979  320028    326     17.0
980  100129    437   4978.0
981  100011    700     23.0
982  400036  71089   1712.0
983  100169    320    294.0
984  241450    220    140.0
985  420035    334   8782.0
986  100024  10047     20.0
987  220090    434    140.0
988  500027  80453      8.0
989  320015  24243    419.0
990  100052    104     95.0
991  420017    527     16.0
992  800033  23671      7.0
993  260029    900   2524.0
994  100053    648     19.0
995  360026    804    740.0
996  500053    814    670.0
997  241011  50074     18.0
998  200043    203    713.0
999  241021    112     11.0

[1000 rows x 3 columns]

In [81]:
mask = df['ACC30'] >= '0'

In [86]:
data=df[mask]

In [87]:
data

       ACC1  ACC30    ACC33
0    220603  11466   3690.0
5    100257  10012   3189.0
8    100257    112   5294.0
9    260015    106    500.0
10   260015    260     10.0
15   260015    260     18.0
16   100254    407  19500.0
18   100254    900   4107.0
19   100254    105   4914.0
23   730011    222    182.0
24   950003  95044     40.0
25   950003  95044     30.0
26   320031  32071    868.0
27   600044    824    758.0
28   100254    302   5000.0
29   100254    406   5000.0
30   100254    632   4000.0
31   950027    950    276.0
32   950027  95044     85.0
43   100184    403   9950.0
44   100184    116  10210.0
45   100185    320  13120.0
46   100184    238  12700.0
47   100184    403   9802.0
53   100185    231   7922.0
54   100184    235   9508.0
55   950003  11501   7862.0
56   100184    320   5096.0
57   600011    400     12.0
58   100184    813   2037.0
..      ...    ...      ...
970  704038    802     15.0
971  900022    406     20.0
972  320450  10582  11980.0
973  330033    330     20.0
974  220069  71757     41.0
975  400010    408     12.0
976  100137    242     41.0
977  100046    403     20.0
978  100009    106    508.0
979  320028    326     17.0
980  100129    437   4978.0
981  100011    700     23.0
982  400036  71089   1712.0
983  100169    320    294.0
984  241450    220    140.0
985  420035    334   8782.0
986  100024  10047     20.0
987  220090    434    140.0
988  500027  80453      8.0
989  320015  24243    419.0
990  100052    104     95.0
991  420017    527     16.0
992  800033  23671      7.0
993  260029    900   2524.0
994  100053    648     19.0
995  360026    804    740.0
996  500053    814    670.0
997  241011  50074     18.0
998  200043    203    713.0
999  241021    112     11.0

[690 rows x 3 columns]

In [92]:
data.sort_values(by = 'ACC1',ascending=True)

       ACC1  ACC30   ACC33
664  100006    235     8.0
978  100009    106   508.0
981  100011    700    23.0
550  100012  10436    10.0
681  100013    325    12.0
433  100022  10642    57.0
699  100022  10364    30.0
779  100024  11087    20.0
986  100024  10047    20.0
877  100024  40355    20.0
939  100026    242    12.0
241  100032    106   155.0
843  100032    231    11.0
933  100032    243    10.0
795  100033  40399    20.0
894  100035    224     8.0
682  100035  10013    16.0
713  100035    616  3269.0
873  100036    242     6.0
888  100042  70258   229.0
827  100042    603   197.0
977  100046    403    20.0
638  100051    114     7.0
990  100052    104    95.0
883  100053    320    27.0
718  100053    238   459.0
692  100053    303   332.0
619  100053    106     7.0
994  100053    648    19.0
819  100054  10013     8.0
..      ...    ...     ...
218  900067    830   208.0
211  900067    201   209.0
204  900067    243   146.0
174  900067    360  7622.0
948  950001  82455   137.0
59   950003    108  5326.0
55   950003  11501  7862.0
118  950003    433   287.0
66   950003    333  1185.0
24   950003  95044    40.0
25   950003  95044    30.0
831  950004    420    10.0
946  950006    104  6294.0
772  950010    110    34.0
908  950010    412    35.0
133  950014  95044    38.0
135  950014  95044    38.0
142  950022    220    26.0
312  950026    709   894.0
31   950027    950   276.0
32   950027  95044    85.0
757  970009    330    20.0
796  970009    265    17.0
734  970009    110    15.0
701  970009    251    25.0
675  970009    320    13.0
853  970009    330    50.0
158  970028    970    38.0
160  970028    970    38.0
150  970028    970    38.0

[690 rows x 3 columns]